.common-button {
  width: 80px;
  height: 2rem;
  background-color: $point-color;
  border: none;
  cursor: pointer;
  border-radius: 1.25rem;
  transition: all 0.4s;
  font-weight: 600;
  &:hover {
    // background-color:$hover-color;
    background-color: #3b2212;
    color: $white-color;
  }
}

.common-form-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: $content-min-height;
  padding: 2.5rem;

  .common-content-box {
    display: flex;
    flex-direction: column;
    flex: 0 1 500px;

    .common-title-box {
      display: flex;
      background-color: $anchor-color;
      color: $white-color;
      padding: 1.2rem;
    }
    .common-form-box {
      border-radius: 0 0 20px 20px;
      display: flex;
      flex-direction: column;
      padding: 1.2rem;
      border: 1px solid $hover-color;
      .common-input-wrap,
      .button-wrap {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 1rem 0;
        color: $hover-color;
        .common-input-label {
          display: flex;
          flex: 3;
        }
        .common-input {
          display: flex;
          flex: 9;
          height: 40px;
          border-radius: 5px;
          color: $hover-color;
          border: 1px solid $hover-color;
          &:focus {
            outline-color: $hover-color;
          }
        }
      }
      .button-wrap {
        justify-content: flex-end;
        align-items: flex-end;
        margin-bottom: 0;
      }
    }
  }
}

.disabled-input{
  cursor: not-allowed;
}