.login-form-wrap{
  display:flex;
  // flex:1;
  height: $content-min-height;
  justify-content: center;
  align-items: center;
  padding:2.5rem;
  .login-content-box{
    display:flex;
    flex-direction:column;
    flex: 0 1 500px;
    .login-title-box{
      display:flex;
      background-color:$anchor-color;
      color:$white-color;
      padding:1.2rem;
    }
    .login-form-box{
      border-radius: 0 0 20px 20px;
      display:flex;
      flex-direction: column;
      padding: 1.2rem;
      border:1px solid $hover-color;
      .id-wrap, .pw-wrap, .button-wrap{
        display:flex;
        flex-direction:row;
        justify-content: space-between;
        align-items: center;
        margin:1rem 0;
        color:$hover-color;
        .id-label,.pw-label{
          display:flex;
          flex:3;
        }
        .id-input,.pw-input{
          display:flex;
          flex:9;
          height:40px;
          border-radius:5px;
          color:$hover-color;
          border: 1px solid $hover-color;
          &:focus{
            outline-color:$hover-color;
          }
        }
      }
      .button-wrap{
        justify-content: flex-end;
        align-items: flex-end;
        margin-bottom:0;
        .signup-button, .login-button{
          width:80px;
          height:40px;
          border:none;
          background-color:$point-color;
          padding:0.12rem;
          border-radius: 1.25rem;
          transition:all 0.4s;
          cursor:pointer;
          &:hover{
            // background-color:$hover-color;
            background-color:$anchor-color;
            color:$white-color;
          }
        }
        .signup-button{
          margin: 0 0.25rem 0 0;
        }
      }
    }
  }
}