.notice-wrap{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2.5rem;
  height:$content-min-height;
  .notice-title-wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .notice-edit-button{
      width:80px;
      background-color :$point-color;
      border:none;
      cursor: pointer;
      border-radius:1.25rem;
      transition:all 0.4s;
      font-weight:600;
      &:hover{
        // background-color:$hover-color;
        background-color:#3b2212;
        color:$white-color;
      }
    }
  }

  table{
    th, td{
      text-align:center;
      height:60px;
      vertical-align: center;
      border-bottom:1px solid #ebebeb;
    }
    th{
      border-bottom:2px solid #383838;
    }
    // th{
    //   box-shadow: 0px 3px 0 0 black;
    // }
    .no-data-row{
      height:600px;
    }
  }

  .pagenate-list{
    display:flex;
    justify-content: flex-end;
    margin-top:2rem;
    .pagenate-item{
      width:40px;
      cursor:pointer;
      text-align: center;
      &:hover{
        color: deepskyblue;  
      }
    }
    .active-number{
      color: deepskyblue;
    }
  }
}